argon2-cffi
attrs
backcall
bleach
blis
catalogue
certifi
cffi
chardet
click
colorama
cymem
decorator
defusedxml
docx2txt
en-core-web-sm @ https://spacy.io/models/en#en_core_web_sm
entrypoints
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
murmurhash
nbconvert
nbformat
nltk
notebook
packaging
pandocfilters
parso
pdfminer.six
pdfplumber
phonenumbers
pickleshare
Pillow
plac
preshed
prometheus-client
prompt-toolkit
pycparser
pycryptodome
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
regex
requests
Send2Trash
six
sortedcontainers
srsly
stemming
terminado
testpath
thinc
tika
tornado
tqdm
traitlets
urllib3
Wand
wasabi
wcwidth
webencodings
widgetsnbextension
zipp
numpy
pandas
spacy==2.3.3