<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\Scripts\wfastcgi.exe" resourceType="Unspecified" />
    </handlers>
    <fastCgi>
      <application fullPath="\app.py" arguments="" />
    </fastCgi>
  </system.webServer>
</configuration>
